.hold-all {
  max-width: 600px;
  margin: 0 auto;
}

.text {
  border:10px solid black;
  padding: 20px;
  /*margin: 50px;*/
  /*float: right;*/
  background-color: yellow;
  margin: 10px;
}

.hold-image {
  background-color: gray;
  padding: 20px;
  border:10px solid black;
  margin: 25px;
  /*width: 500px;*/
  max-width: 500px;
/*height: 331px;*/
height: auto;
float: left;
}

#kid-photo {
	max-width: 100%;
    height: auto;
}