.text {
	/*margin:5px;*/
	background-color: red;
	border: 10px solid blue;
	padding: 25px;
	/*width: 500px;*/
	/*float: right;*/
	max-width: 500px; /*to make responsiveturn this on while turning off width*/
	margin: 0 auto;  /*turn this on to center while turning off margin 50*/
	text-align: center;
}

.hold-all {
	max-width: 65%;
	margin: 0 auto;
}


/*kid must be turned on WITH max-width in #hold-image (remember to turn off regular width*/

#kid-photo {
    max-width: 100%;
    height: auto;
}